input {
    background: rgba(255, 255, 255, 0.4);
    border-color: white;
    contain-intrinsic-size: 20px;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);

}