{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="padding-top: 5%; font-family: Roboto, sans-serif;">
    <h1 class="h2 text-center text-monospace" style="font-size: 7vw; color: orangered; margin-bottom: 15px; text-shadow: -2px 2px black;">CITRUS</h1>
        <h3 class="h2 text-center text-monospace" style="font-size: 3vw; color: whitesmoke; margin-bottom: 15px;">Free
            online unique password generator and password encryption.</h3>
        <h3 class="h2 text-center text-monospace" style="font-size: 2vw; color: whitesmoke;">Save your data. Make strong
            password with us!</h3>
    </div>
    <div class="container">
        <div class="d-flex align-items-center justify-content-center h-100">
            <a href="{% url 'generate pass' %}" role="button" type="submit" class="btn btn-dark"
               style="margin-right: 15px;">GENERATE PASSWORD</a>
            <a href="{% url 'encrypt pass' %}" role="button" type="submit" class="btn btn-light"
               style="margin-right: 15px;">PASSWORD ENCRYPTION</a>
        </div>
    </div>
{% endblock %}