{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="padding-top: 10%; font-family: Roboto, sans-serif;">
    <h3 class="h2 text-center text-monospace" style="font-size: 3vw; color: whitesmoke; margin-bottom: 15px;">Your
        password is:</h3>
        <div class="text-center text-monospace " style="font-size: 2vw; color: whitesmoke; padding: 5px 5px 5px 5px;">{{ password }}</div>
</div>

<div class="container">
    <div class="d-flex align-items-center justify-content-center h-100">
        <a href="{% url 'generate pass' %}" role="button" type="submit" class="btn btn-dark"
           style="margin-right: 15px;">GENERATE AGAIN</a>
    </div>
</div>
{% endblock %}